[core]
    editor = code
[alias]
    a = add
    all = add -A
    s = status
    st = status
    d = diff
    di = diff
    cm = commit -m
    cl = clone
    p = push
    ps = push
    l = pull
    pl = pull
    co = checkout
    br = branch
    m = merge